In [1]:
# import necessary packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# import data

climate_df = pd.read_csv('climate-data-sample.csv')
climate_df.head()

,StoreID,City,State,Date Last Winter Freeze,Date First Winter Freeze,Growing Season Length,Jan Avg Tot Prec,Feb Avg Tot Prec,Mar Avg Tot Prec,Apr Avg Tot Prec,...,Jun Avg Temp,Jul Avg Temp,Aug Avg Temp,Sep Avg Temp,Oct Avg Temp,Nov Avg Temp,Dec Avg Temp,Elevation,Longitude,Latitude
0,2,Hayward,WI,2009-06-25,2009-08-31,126,0.532,0.808,1.636,2.368,...,63.06,68.08,65.75,56.12,44.82,29.59,15.40,1271.08,-91.275983,46.030584
1,3,Baxter,MN,2009-05-29,2009-09-06,147,0.352,0.464,1.690,1.712,...,64.00,68.61,66.23,55.88,43.90,27.58,12.46,1221.80,-94.282497,46.341089
2,6,Grand Rapids,MN,2009-06-02,2009-09-11,133,0.370,0.098,1.250,1.148,...,62.86,67.32,65.19,55.11,43.54,26.76,11.44,1329.16,-93.537630,47.199985
3,9,Bottineau,ND,2009-05-31,2009-09-16,141,0.256,0.280,0.702,0.896,...,62.58,66.84,65.51,54.34,41.55,23.39,8.71,1696.13,-100.396962,48.855401
4,10,Bemidji,MN,2009-05-31,2009-09-20,147,0.176,0.154,1.318,1.278,...,62.89,67.45,65.30,55.14,43.60,25.94,11.15,1394.71,-94.819200,47.514668

<b> Details about geopandas </b>

link : https://geopandas.org/en/stable/ </br>

In [8]:
# reading files using geopandas

import geopandas as gpd

# this prints all the available datasets in geopandas library
print(gpd.datasets.available)

path_to_data = gpd.datasets.get_path('nybb')
gdf = gpd.read_file(path_to_data)

gdf.head()

['naturalearth_cities', 'naturalearth_lowres', 'nybb']

,BoroCode,BoroName,Shape_Leng,Shape_Area,geometry
0,5,Staten Island,330470.010332,1.623820e+09,"MULTIPOLYGON (((970217.022 145643.332, 970227...."
1,4,Queens,896344.047763,3.045213e+09,"MULTIPOLYGON (((1029606.077 156073.814, 102957..."
2,3,Brooklyn,741080.523166,1.937479e+09,"MULTIPOLYGON (((1021176.479 151374.797, 102100..."
3,1,Manhattan,359299.096471,6.364715e+08,"MULTIPOLYGON (((981219.056 188655.316, 980940...."
4,2,Bronx,464392.991824,1.186925e+09,"MULTIPOLYGON (((1012821.806 229228.265, 101278..."